JWT_SECRET=9x!A%D*G-KaPdSgVkYp3s6v8y/B?E(H+  # random string
DB_ENCRYPTION_KEY=ngtp!!MCwqaaD7x@!6!vPdSc@&%?reJu
SOCKET_IO_SECRET=dQQ7vH&3wp-7XtPRJTbU$xzP+dgR9kTj
JWT_EXPIRES_IN=1h  # Token expiration 1h
REFRESH_TOKEN_SECRET=mB4qVtqYq3t6w9z$C&F)J@NcRfUjXn2r
REFRESH_TOKEN_EXPIRES_IN=7d
DB_PASSWORD=J@NcRfUjXn2r
ENCRYPTION_KEY=r3MifgV3ZhccVDtHQ+sHDq9FgpIo8KqAcG0Izei0P6XvKIWM3PcPEChv+xRC9KuQ
FRONTEND_URL=http://localhost:3000
# Rate limiting
HTTP_RATE_LIMIT=100
HTTP_RATE_WINDOW=60
WS_RATE_LIMIT=100
WS_RATE_WINDOW=60
POLL_CREATE_LIMIT=5
POLL_CREATE_WINDOW=60
VOTE_LIMIT=30
VOTE_WINDOW=60